.careers-page {
    background-color: var(--green);
    padding: 6vh;
    padding-top: 5vh;
}

.careers-title {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    font-weight: 600;
    color: white;
    text-align: left;
    margin-bottom: 5vh;
}

.career-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}