.footer {

    justify-content: space-between;
    padding-top: 15vh;
    padding-bottom: 5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: var(--yellow);
    font-size: 12px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 05vh;
}

.footer-contactus {
    text-align: left;
}

.footer-copyright {
    padding-bottom: 5vh;
}