.home-homebanner {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.home-slideshow-image {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 1s ease-in-out;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    cursor: pointer;
    padding: 0.25rem .5rem;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.home img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.home-mission {
    background-color: var(--yellow);
    text-align: center;
    padding-top: 20vh;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-bottom: 20vh;
}

.home-mission-title {
    font-size: 3vw;
    font-weight: 700;
    color: black;
    margin-bottom: 4vh;
}

Possibility .home-mission-subtitle {
    font-size: 5vw;
    font-weight: 700;
    color: black;
    margin-bottom: 6vh;
}

.home-mission-button {
    background-color: var(--green);
    color: white;
    padding: 1.2vh 2vw;
    font-size: 2vh;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.mission-button:hover {
    background-color: var(--green);
    cursor: pointer;
}

.home-classes {
    padding: 8vh 5vw;
    background-color: white;
}

.home-about {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4vw;
    margin-bottom: 10vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
}

.home-about-words,
.home-about-image {
    flex: 1 1 500px;
    max-width: 100%;
    box-sizing: border-box;
}

.home-about-words {
    font-size: 20px;
    text-align: left;
}


.home-about-words h2 {
    font-size: 4vh;
    margin-bottom: 2vh;
    text-align: left;
}

.home-about-image {
    max-width: 500px;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 1315px) {

    .home-about-words,
    .home-about-image {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.home-specialize {
    text-align: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.home-specialize-title {
    font-size: 3vh;
    font-weight: 600;
    margin-bottom: 4vh;
}

.home-specialize-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.specialize-button {
    background-color: var(--green);
    color: white;
    padding: 1.5vh 4vw;
    border-radius: 8px;
    text-decoration: none;
    font-size: 2vh;
    transition: background-color 0.3s ease;
}

.specialize-button:hover {
    cursor: pointer;
}

.home-programs {
    background-color: var(--green);
    padding: 6vh 5vw;
    text-align: center;
}

.home-programs-title {
    font-size: 4vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    padding-bottom: 3vh;
    color: white;
    font-weight: 600;
    margin-bottom: 5vh;
    text-align: left;
}

.home-programs-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
}