.programs {
    background-color: var(--yellow);
    padding: 6vh 5vw;
}

.programs-title {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    padding-bottom: 1vh;
    font-weight: 600;
    color: black;
    text-align: left;
    margin-bottom: 5vh;
}

.programs-cards {
    padding-left: 5vw;
    padding-right: 5vw;
}